.pagination {
  display: flex;

  svg {
    width: 8px;
    height: 13px;

    path {
      fill: #ACACAC;
    }
  }

  &__prev,
  &__next {
    padding: 7px 12px 8px;
  }

  &__prev {
    svg {
      transform: rotate(180deg);
    }
  }

  &__pages {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
  }

  &__item {
    padding: 0 11px;
  }
}