<div class="about-us-card">
  <div class="icon">
    @@if (icon === '1') {
      @@include("../../assets/svg/about-us-icon-1.svg")
    }
    @@if (icon === '2') {
      @@include("../../assets/svg/about-us-icon-2.svg")
    }
    @@if (icon === '3') {
      @@include("../../assets/svg/about-us-icon-3.svg")
    }
    @@if (icon === '4') {
      @@include("../../assets/svg/about-us-icon-4.svg")
    }
    @@if (icon === '5') {
      @@include("../../assets/svg/about-us-icon-5.svg")
    }
    @@if (icon === '6') {
      @@include("../../assets/svg/about-us-icon-6.svg")
    }
  </div>
  <h3 class="title">
    @@title
  </h3>
  <div class="text">
    @@text
  </div>
</div>