@import '../../scss/mixins';

.about-us-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: var(--space-30);
  gap: var(--space-20);
  border: 1px solid var(--cyan);
  border-radius: var(--space-10);
  color: var(--white);

  .title {
    color: var(--cyan);
    @include clampLine(1);
  }

  .text {
    @include clampLine(7);
    height: 143px;
  }
}