<div class="select">
  <input class="select__input" type="hidden" name="@@name">
  <div class="select__head">
    @@if(decore === true) {
      <div class="decore"><span>ПОИСК <br> ПО АВТО</span></div>
    }
    <span class="chousen-value">Выберите марку</span>
    <span class="arrow-icon">@@include('../../assets/svg/arrow.svg')</span>
  </div>
  <ul class="select__list">
    <li class="select__item" data-value="Acura">Acura</li>
    <li class="select__item" data-value="Alfa Romeo">Alfa Romeo</li>
    <li class="select__item" data-value="Alpina">Alpina</li>
    <li class="select__item" data-value="Aston Martin">Aston Martin</li>
    <li class="select__item" data-value="Audi">Audi</li>
    <li class="select__item" data-value="BMW">BMW</li>
    <li class="select__item" data-value="Brilliance">Brilliance</li>
    <li class="select__item" data-value="Buick">Buick</li>
    <li class="select__item" data-value="BYD">BYD</li>
    <li class="select__item" data-value="Cadillac">Cadillac</li>
    <li class="select__item" data-value="Chana">Chana</li>
    <li class="select__item" data-value="Changan">Changan</li>
    <li class="select__item" data-value="Chery">Chery</li>
    <li class="select__item" data-value="Chevrolet">Chevrolet</li>
    <li class="select__item" data-value="Chrysler">Chrysler</li>
  </ul>
</div>