@import '../../scss/mixins';

.select {
  $paddingSize: 15px;

  position: relative;
  display: block;
  width: 100%;

  &__head {
    display: flex;
    place-items: center;
    position: relative;
    width: 100%;
    max-width: 100%;
    background: #FFFFFF;
    border-radius: 5px;
    min-height: var(--space-50);
    padding: 0 $paddingSize;
    font-weight: var(--font-weight-700);
    font-size: 14px;
    line-height: 18px;
    color: var(--black);
    cursor: pointer;

    @include xl {
      min-height: 39px;
      font-size: 12px;
      line-height: 15px;
      padding-right: 5px;
    }

    &.has-decore {
      padding-left: var(--space-140);
      overflow: hidden;

      .decore {
        display: flex;
      }

      @include xl {
        padding-left: 110px;
      }

      @include md {
        padding-left: $paddingSize;
        .decore {
          display: none;
        }
      }
    }

    .decore {
      position: absolute;
      display: flex;
      place-items: center;
      left: 0;
      top: 0;
      height: 100%;
      background-color: var(--orange);
      font-weight: var(--font-weight-700);
      font-size: 14px;
      line-height: 17px;
      border-radius: 5px;

      span {
        position: relative;
        z-index: 1;
        padding-left: var(--space-20);
      }

      &::before {
        content: '';
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 134px;
        height: 100%;
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width%3D%22134%22 height%3D%2250%22 viewBox%3D%220 0 134 50%22 fill%3D%22none%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath fill-rule%3D%22evenodd%22 clip-rule%3D%22evenodd%22 d%3D%22M4.99976 -0.000244141C2.23833 -0.000244141 -0.000244141 2.23833 -0.000244141 4.99976V44.9998C-0.000244141 47.7612 2.23833 49.9998 4.99975 49.9998H116.181C118.943 49.9998 121.181 47.7612 121.181 44.9998V34.6535C121.181 33.4834 121.862 32.42 122.924 31.9296L131.675 27.8902C133.999 26.8177 133.999 23.5151 131.675 22.4426L122.924 18.4032C121.862 17.9128 121.181 16.8495 121.181 15.6794V4.99976C121.181 2.23833 118.943 -0.000244141 116.181 -0.000244141H4.99976Z%22 fill%3D%22%23F89E02%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
      }

      @include xl {
        border-radius: 2.29347px;
        span {
          padding-left: var(--space-10);
        }
        &::before {
          width: var(--space-100);
        }
      }
    }

    .arrow-icon {
      display: flex;
      align-items: center;
      margin-left: auto;
      padding-right: var(--space-10);

      svg {
        transform: rotate(90deg);
        width: 13px;
        height: var(--space-20);
      }

      svg path {
        fill: var(--black);
      }
    }

    &.open .arrow-icon svg {
      transform: rotate(-90deg);
    }
  }

  &__list {
    display: none;
    position: absolute;
    top: calc(100% + 7px);
    left: 0;
    right: 0;
    background: var(--white);
    border: 1px solid var(--black);
    border-radius: 5px;
    max-height: 503px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    margin: 0;
    padding: var(--space-20) 0;
    scrollbar-color: dark;
    scrollbar-width: thin;
    overscroll-behavior: contain;

    &::-webkit-scrollbar {
      width: 7px;
      background-color: var(--gary-300);
      padding: 5px;
    }
  
    &.open {
      display: block;
    }
  }

  &__item {
    position: relative;
    padding: 5px 26px;
    cursor: pointer;

    &:hover {
      color: var(--orange);
    }
  }
}