@import '../../scss/mixins';

.brand-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0 15px;

  &__image {
    height: 170px;

    img {
      object-fit: cover;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  @include xl {
    padding: 0 8px;
  }

  @include md {
    padding: 0 7px;

    &__image {
      height: 75.17px;
    }

    &__name {
      font-size: 6.1906px;
      line-height: 8px;
    }
  }
}