<div class="slider-wrapper">
  <div id="recomendation" class="slider-list">
    <div class="slide">
      @@include('../ProductCard/index.html')
    </div>
    <div class="slide">
      @@include('../ProductCard/index.html')
    </div>
    <div class="slide">
      @@include('../ProductCard/index.html')
    </div>
    <div class="slide">
      @@include('../ProductCard/index.html')
    </div>
    <div class="slide">
      @@include('../ProductCard/index.html')
    </div>
    <div class="slide">
      @@include('../ProductCard/index.html')
    </div>
  </div>
  
  <!-- Кнопки для управления слайдером -->
  <button class="custom-slide-arrow custom-slide-arrow--prev">
    @@include('../../assets/svg/arrow.svg')
  </button>
  <button class="custom-slide-arrow custom-slide-arrow--next">
    @@include('../../assets/svg/arrow.svg')
  </button>
</div>