@import '../../scss/mixins';

.cart-table-item {
  display: grid;
  grid-template-columns: minmax(auto, 170px) 4fr 2fr 2fr 2fr;
  place-items: center;
  gap: var(--space-30);

  @include xl {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    gap: var(--space-10) var(--space-30);
    place-items: initial;
  }

  .image{
    @include xl {
      grid-row: 1 / span 5;
      display: flex;
    }
  }

  .title {
    align-self: flex-start;
    @include xl {
      grid-row: 1 / span 2;
    }
  }

  .price{
    @include xl {
      grid-row: 4;
    }
  }

  .total {
    display: inline-flex;

    @include xl {
      grid-row: 5;
    }

    .summ {
      display: inline-flex;
      align-items: center;
      margin-right: 0.5rem;
    }

    .remove-item {
      &:hover svg path {
        fill: var(--cyan);
      }
      
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.cart-table-item .counter {
  display: flex;
  align-items: center;
  gap: 10px;

  @include xl {
    grid-row: 3;
  }

  .counter-btn {
    display: flex;
    place-items: center;
    background: var(--gray);
    height: 38px;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    cursor: pointer;

    &.minus {
      padding-bottom: 7px;
    }
  }

  .counter-input {
    width: 58px;
    height: 38px;
    text-align: center;
    border: none;
    background-color: #F5F5F5;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
  }
}