@import '../../scss/mixins';

.cart-table-item {
  display: grid;
  grid-template-columns: minmax(auto, 170px) 4fr 2fr 2fr 2fr;
  place-items: center;
  gap: var(--space-30);

  @include xl {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    gap: var(--space-10) var(--space-30);
    place-items: initial;
  }

  @include md {
    grid-template-columns: minmax(auto, 1fr) 1fr;
    grid-template-rows: 3fr 1fr;
    gap: var(--space-10) 17px;
  }

  .image {
    @include xl {
      grid-row: 1 / span 5;
      display: flex;
    }

    @include md {
      grid-row: 1 / span 3;
    }
  }

  .title {
    align-self: flex-start;

    @include xl {
      grid-row: 1 / span 2;
      @include clampLine(3);
    }

    @include md {
      @include clampLine(4);
    }
  }

  .price {
    display: inline-flex;

    @include xl {
      grid-row: 4;
    }
  }

  .price__prefix,
  .summ__prefix {
    margin-right: 1rem;
  }

  .total {
    display: inline-flex;

    @include xl {
      grid-row: 5;
    }

    @include md {
      grid-column: 1 / span 2;
    }

    .summ {
      display: inline-flex;
      align-items: center;
      margin-right: 0.5rem;

      @include xl {
        margin-right: var(--space-100);
      }

      @include md {
        margin-right: auto;
      }
    }

    .remove-item {
      &:hover svg path {
        fill: var(--cyan);
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.cart-table-item .counter {
  display: flex;
  align-items: center;
  gap: var(--space-10);

  @include xl {
    grid-row: 3;
  }

  @include md {
    gap: 5px;
  }

  .counter-btn {
    display: flex;
    place-items: center;
    background: var(--gray);
    height: 38px;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: var(--font-weight-400);
    font-size: 36px;
    line-height: 44px;
    cursor: pointer;

    &.minus {
      padding-bottom: 7px;
    }

    @include md {
      font-size: 21.5065px;
      line-height: 26px;
      height: 22.7px;
      padding: 5px 7px 5px;

      &.minus {
        padding-bottom: 8px;
      }
    }
  }

  .counter-input {
    width: 58px;
    height: 38px;
    text-align: center;
    border: none;
    background-color: var(--gary-300);
    border-radius: 5px;
    font-size: var(--font-size);
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;

    @include md {
      font-size: 14px;
      line-height: 17px;
      height: 22px;
      width: 34px;
    }
  }
}