.section-popular-brands {
  h2 {
    margin-bottom: var(--space-60);
    margin-top: var(--space-140);

    @include xl {
      margin-bottom: var(--space-40);
      margin-top: var(--space-50);
    }
    @include md {
      margin-bottom: var(--space-10)
    }
  }
}