.section-contacts-and-map {
  .contacts-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include md {
      grid-template-columns: 1fr;
      gap: var(--space-10);
    }
  }

  .contacts-content {

    &__social {
      display: inline-flex;
      align-items: center;
      gap: var(--space-30);

      @include xl {
        gap: 15px;
      }
      @include md {
        gap: var(--space-10);

        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  .map {
    height: 521px;
    width: 100%;

    @include xl {
      height: 463px;
    }

    @include md {
      height: 280px;
    }
  }
}