.section-main {
  .main-search-form {
    display: grid;
    grid-template-columns: minmax(auto, 415px) minmax(auto, 306px) minmax(auto, 131px);
    place-items: center;
    justify-content: center;
    gap: 15px;
    padding: var(--space-50) 0;
    border-radius: var(--space-10);
    margin-top: var(--space-60);

    button {
      text-align: center;
    }

    .title {
      display: none;
      color: var(--white);
    }

    @include xl {
      grid-template-columns: minmax(auto, 317.26px) minmax(auto, 233.93px) minmax(auto, 99.71px);
      padding: 27px var(--space-30) 28px;
    }
    @include md {
      grid-template-columns: 1fr;
      padding: var(--space-20);
      gap: var(--space-10);

      .title {
        display: block;
      }
    }
  }
}

.section-form {
  padding: 150px 0;

  @include xl {
    padding: var(--space-50) 0;
  }

  @include md {
    padding: var(--space-20) 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: var(--space-50);
    position: relative;

    h2 {
      margin-bottom: var(--space-20);
      color: var(--cyan);
      font-size: var(--font-size-30);
      line-height: 37px;
    }

    .subtitle {
      margin-bottom: var(--space-30);
      max-width: 637px;
    }

    @include xl {
      grid-template-columns: 1.5fr 1fr;

      h2 {
        margin-bottom: 15px;
      }

      .subtitle {
        margin-bottom: var(--space-20);
        max-width: 425px;
      }
    }

    @include md {
      grid-template-columns: 1fr;

      h2 {
        margin-bottom: var(--space-10);
        max-width: 235px;
      }

      .subtitle {
        margin-bottom: var(--space-50);
        max-width: 173px;
      }
    }
  }

  &__image {
    position: absolute;
    right: 0;

    @include xl {
      bottom: 0;

      svg {
        max-width: 367px;
        max-height: 137px;
      }
    }

    @include md {
      bottom: 20%;

      svg {
        max-width: 185.14px;
        max-height: 60.1px;
      }
    }
  }
}

.section-list {
  @include xl {
    padding-top: 80px;
  }
  @include md {
    padding-top: var(--space-50);
  }
  &__box {
    position: relative;
    padding: 46px 42px;
    background-image: url('../../assets/bg-section-content.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: var(--white);
    font-weight: var(--font-weight-700);
    border-radius: var(--space-10);

    .decore {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-30%, -70%) rotate(-18.03deg);
      background-color: var(--red);
      border-radius: 5px;
      padding: 22px 32px;
      font-size: 18px;
      line-height: 22px;
    }

    .text {
      font-size: 36px;
      line-height: 44px;
    }

    @include xl {
      padding: 28px 26px 27px;
      .decore {
        font-size: 15px;
        line-height: 18px;
        padding: 19px 18px;
        transform: translate(-12%, -60%) rotate(-10.03deg);
      }

      .text {
        font-size: 22px;
        line-height: 27px;
      }
    }

    @include md {
      background-image: none;
      background-color: var(--deep-blue);
      padding: 29px 35px 25px;

      .decore {
        font-size: 15px;
        line-height: 18px;

      }

      .text {
        font-size: var(--font-size-20);
        line-height: 24px;
      }
    }
  }
}

.section-about-us {
  h2 {
    margin-bottom: var(--space-40);

    @include xl {
      margin-bottom: var(--space-30);
    }
    @include md {
      margin-bottom: var(--space-20);
    }
  }

  .about-us-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--space-30);
    
    @include xl {
      grid-template-columns: 1fr 1fr;
      gap: var(--space-30) 34px;
    }
    @include md {
      grid-template-columns: 1fr;
      gap: var(--space-30);
    }
  }
}

.section-questions {
  background-position: initial;
  h2 {
    margin-bottom: var(--space-60);
    @include xl {
      margin-bottom: 25px;
    }
    @include md {
      margin-bottom: var(--space-20);
    }
  }
}

.section-work {
  h2 {
    margin-bottom: var(--space-40);
    @include xl {
      margin-bottom: 22px;
    }
    @include md {
      margin-bottom: var(--space-20);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--space-30);
    
    @include xl {
      grid-template-columns: 1fr 1fr;
    }
    @include md {
      grid-template-columns: minmax(100%, 1fr);
      gap: var(--space-20);
    }
  }
}

.section-foto {
  h2 {
    margin-bottom: var(--space-60);
    @include xl {
      margin-bottom: 22px;
    }
  }
}