@import '../../scss/mixins';

.product-card {
  &__image {
    height: 100%;
    height: 211px;
    margin-bottom: var(--space-10);

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    @include xl { 
      height: 173.49px;
    }
    @include md { 
      height: 104.72px;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    gap: 20px;

    &-title {
      @include clampLine(2);
      font-size: 14px;
      line-height: 17px;
    }
    &-price {
      font-size: 16px;
      line-height: 20px;
      white-space: nowrap;
    }
  }
}