<div class="catalog-car-list-wrapper">
  <ul class="catalog-car-list">
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
    <li><a href="#">Acura CSX (2006–2011)</a></li>
  </ul>
  
  <div class="catalog-car-list-pagination">
    @@include('../Pagination/index.html')
  </div>
</div>