@import '../../scss/mixins';


.catalog-car-list-wrapper {
  margin-top: var(--space-60);
  margin-bottom: var(--space-140);

  @include xl {
    margin-bottom: 90px;
  }
  @include md {
    margin-bottom: var(--space-50);
  }

  .catalog-car-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    max-height: 650px;
    gap: 20px;
    margin-bottom: var(--space-60);
  
    @include xl {
      font-size: 24px;
      line-height: 29px;
      max-height: 564.11px;
      margin-bottom: var(--space-40);
    }
    @include md {
      font-size: 14px;
      line-height: 17px;
      max-height: 429.64px;
      margin-bottom: var(--space-20);
    }
  
    li {
      padding-left: 60px;
      position: relative;
  
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 45px;
        height: 30px;
        background-image: url('../../assets/svg/small-car.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
  
      @include xl {
        &::before {
          width: 40px;
          height: 40px;
        }
      }
      @include md {
        &::before {
          width: 31px;
          height: 21.23px;
        }
      }
    }
  }

  .catalog-car-list-pagination {
    display: flex;
    justify-content: center;
  }
}
