@import '../../scss/mixins';

.page-title {
  margin: var(--space-60) 0;

  @include xl {
    margin: calc(var(--space-60) / 2) 0;
  }

  @include md {
    margin: var(--space-20) 0 var(--space-30);
  }
}