<div class="modal">
  <div class="modal-content">
    <span class="close">
      <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M28 2.82L25.18 0L14 11.18L2.82 0L0 2.82L11.18 14L0 25.18L2.82 28L14 16.82L25.18 28L28 25.18L16.82 14L28 2.82Z" fill="#F89E02"/>
      </svg>
    </span>
    <h2>Обратная связь</h2>
    <p>Оставьте своё сообщение и мы ответим на него в ближайшее время.</p>
    <form>
      <input type="text" id="name" name="name" placeholder="Имя *" required>
      
      <input type="tel" id="phone" name="phone" placeholder="Телефон *" required>
      
      <textarea id="comment" name="comment" placeholder="Комментарий *" required></textarea>
      
      <label class="checkbox-container">
        <input type="checkbox">
        <span class="checkmark"></span>
        <span>Я согласен(-на) на обработку персональных данных</span>
      </label>
      
      <button type="submit" class="btn btn--primary">Заказать звонок</button>
    </form>
  </div>
</div>
