.sidbar-and-content {
  display: grid;
  grid-template-columns: minmax(auto, 270px) auto;
  gap: var(--space-20);

  .content {
    display: flex;
    flex-direction: column;

    .title {
      margin-bottom: var(--space-30);

      @include xl {
        margin-bottom: 12px;
      }
      @include md {
        margin-bottom: var(--space-10);
      }
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, minmax(200px, 1fr));
      gap: var(--space-30);

      @include xl {
        grid-template-columns: repeat(2, 1fr);
      }
      @include md {
        gap: var(--space-20) 12px;
      }
    }

    .content-pagination {
      display: flex;
      justify-content: center;
      margin-top: var(--space-30);

      @include xl {
        margin-top: var(--space-20);
      }
      @include md {
        margin-top: var(--space-10);
      }
    }
  }

  @include xl {
    grid-template-columns: minmax(auto, 222px) auto;
  }
  @include md {
    grid-template-columns: 1fr;

    .sidebar {
      display: none;
    }
  }
}