.sidbar-and-content {
  display: grid;
  grid-template-columns: minmax(auto, 270px) auto;
  gap: 20px;
  margin-bottom: var(--space-140);

  .content {
    display: flex;
    flex-direction: column;

    .title {
      margin-bottom: var(--space-30);

      @include xl {
        margin-bottom: 12px;
      }
      @include md {
        margin-bottom: var(--space-10);
      }
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, minmax(200px, 1fr));
      gap: 30px;

      @include xl {
        grid-template-columns: repeat(2, 1fr);
      }
      @include md {
        gap: 20px 12px;
      }
    }

    .content-pagination {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      @include xl {
        margin-top: var(--space-20);
      }
      @include md {
        margin-top: var(--space-10);
      }
    }
  }

  @include xl {
    grid-template-columns: minmax(auto, 222px) auto;
    margin-bottom: 90px;
  }
  @include md {
    grid-template-columns: 1fr;
    margin-bottom: var(--space-50);

    .sidebar {
      display: none;
    }
  }
}