@import '../../scss/mixins';

.form-order {
  .hide {
    display: none;
  }

  &__section-title {
    margin-bottom: var(--space-30);
    span {
      color: red;
    }
    @include xl {
      margin-bottom: var(--space-20);
    }
    @include md {
      margin-bottom: var(--space-10);
    }
  }

  &__delivery-method,
  &__payment-method {
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 65px;
      cursor: pointer;

      @include md {
        min-height: 38px;
      }
    }
  }

  &__delivery-method {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-30);
    margin-bottom: var(--space-60);

    div {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: var(--space-30);
    }

    @include xl {
      grid-template-columns: 0.75fr;
      gap: var(--space-30);
      margin-bottom: var(--space-50);
      div {
        row-gap: var(--space-10);
      }
    }
    @include md {
      grid-template-columns: 1fr;
      margin-bottom: var(--space-40);
    }

    input[type="radio"] + label {
      background-color: var(--gray);
      border-color: var(--gray);
      color: var(--gary-400);
    }
    input[type="radio"]:checked + label {
      background-color: var(--dark-blue);
      border-color: var(--dark-blue);
      color: var(--white);
    }
  }

  &__payment-method {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: var(--space-60);

    @include xl {
      grid-template-columns: 1fr 1fr;
      margin-bottom: var(--space-50);
    }
    @include md {
      grid-template-columns: 1fr;
      margin-bottom: var(--space-40);
    }
    
    input[type="checkbox"] + label {
      background-color: var(--gray);
      border-color: var(--gray);
      color: var(--gary-400);
    }
  
    input[type="checkbox"]:checked + label {
      background-color: var(--dark-blue);
      border-color: var(--dark-blue);
      color: var(--white);
    }
  }

  &__personal-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-30);
    margin-bottom: var(--space-60);

    @include xl {
      grid-template-columns: 1fr 1fr;
      margin-bottom: var(--space-50);
    }
    @include md {
      grid-template-columns: 1fr;
      margin-bottom: var(--space-40);
      gap: var(--space-10) var(--space-30);
    }
  }

  &__totla {
    margin-bottom: var(--space-30);
  }

  &__accapt-processing-data {
    font-weight: var(--font-weight-300);
    font-size: 14px;
    line-height: 170%;
    margin-bottom: var(--space-50);

    @include md {
      margin-bottom: var(--space-30);
    }
  }
}