<form class="add-to-cart-form" action="#">
  <label class="checkbox-container checkbox-container--border-gray">
    <input type="checkbox">
    <span class="checkmark checkmark--black"></span>
    <span>Левый…...............................................................50 руб.</span>
  </label>
  
  <div class="add-to-cart-form__btns-box">
    <button type="submit" class="btn btn--transparent">
      В КОРЗИНУ
    </button>

    <button type="button" class="btn btn--primary btn--border-orange btn-book-call open-modal-btn">
      ЗАКАЗАТЬ ЗВОНОК
    </button>
  </div>
</form>