@import '../../scss/mixins';

.add-to-cart-form {
  .checkbox-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-20);

    @include xl {
      gap: var(--space-10);
    }

    .checkbox-label-text {
      display: flex;
      white-space: nowrap;
    }

    .dots {
      position: relative;
      display: flex;
      align-self: flex-end;
      margin-bottom: 5px;
      margin: 0 0.5rem 5px 0.5rem;
      width: 100%;
      border-bottom: 2px dotted var(--black);
    }
  }

  &__btns-box {
    display: flex;
    gap: var(--space-20);
    margin-top: var(--space-70);

    .btn--add-to-cart:hover {
      background-color: transparent;
      color: var(--black);
      border-color: var(--dark-blue);
    }

    .btn--custom-callback:hover {
      color: var(--black);
    }

    @include xl {
      margin-top: var(--space-20);
    }
  }
}