<div class="mobile-menu open">
  <div class="mobile-menu__head">
    <div class="title">ТЕЛЕФОН</div>
    <button type="button" class="closer">@@include('../../assets/svg/closer.svg')</button>
  </div>

  <div class="mobile-menu__content bg-dark-blue">
    <div class="mobile-menu__content__phone">
      @@include("../../assets/svg/phone-ellipse.svg")
      <a href="tel:+375447798877">+375 (44) 779–88–77</a>
    </div>

    <button type="button" class="btn btn--primary btn-book-call open-modal-btn">
      ЗАКАЗАТЬ ЗВОНОК
    </button>
  </div>
</div>