<header class="header">
  <div class="bg-black">
    <div class="container">
      <div class="header__info">
        <button type="button" id="open-mobile-menu-btn" class="btn-burger">
          <span class="btn-burger__line"></span>
        </button>

        <a class="logo" href="/index.html">
          <img src="../assets/logo.png" alt="logo">
        </a>
  
        <div>
          <span>
            @@include("../../assets/svg/time.svg")
          </span>
          <span>ПН-ПТ: 8.00–22.00 <br> СБ-ВС: 8.00–20.00</span>
        </div>
  
        <div>
          <span>
            @@include("../../assets/svg/localization.svg")
          </span>
          <span>ПАВИЛЬОН 55/16 АВТОРЫНОК «МАЛИНОВКА»</span>
        </div>
  
        <div>
          <span>
            @@include("../../assets/svg/phone.svg")
          </span>
          <a href="tel:+375447798877">+375 (44) 779–88–77</a>
        </div>

        <div class="social">
          <a class="svg-hover-cyan" href="#">
            @@include("../../assets/svg/telegram.svg")
          </a>

          <button type="button" id="show-phone-btn" class="show-mobile">
            @@include("../../assets/svg/phone-ellipse.svg")
          </button>

          <a class="show-mobile" href="#">
            @@include("../../assets/svg/cart.svg")
          </a>
        </div>

        <button type="button" class="btn btn--primary btn-book-call open-modal-btn">
          ЗАКАЗАТЬ ЗВОНОК
        </button>
      </div>
    </div>
  </div>

  <div class="mobile-menu-head">
    <div class="title">ТЕЛЕФОН</div>
    <button type="button" id="mobile-menu-closer" class="closer">@@include('../../assets/svg/closer.svg')</button>
  </div>

  <div class="menu-wrapper bg-dark-blue">
    <div class="container">
      <nav class="header__menu">
        <ul class="header__menu__list">
          <li class="active">
            <a href="/catalog.html">КАТАЛОГ ТОВАРОВ</a>
            <button type="button" class="open-submenu-btn">
              @@include('../../assets/svg/arrow.svg')
            </button>

            <ul>
              <li><a href="#">РЕМОНТНЫЕ ПОРОГИ</a></li>
              <li><a href="#">РЕМОНТНЫЕ АРКИ</a></li>
              <li><a href="#">УСИЛИТЕЛЬ ПОЛА</a></li>
              <li><a href="#">УСИЛИТЕЛЬ ПОРОГА</a></li>
              <li><a href="#">НАКЛАДКА НА ДВЕРЬ</a></li>
              <li><a href="#">ПОДДОМКРАТНИК</a></li>
              <li><a href="#">ЛИСТ МЕТАЛЛА ДЛЯ СВАРКИ</a></li>
            </ul>
          </li>
          <li>
            <a href="#">О КОМПАНИИ</a>
            <button type="button" class="open-submenu-btn">
              @@include('../../assets/svg/arrow.svg')
            </button>
          </li>
          <li>
            <a href="#">ДОСТАВКА И ОПЛАТА</a>
            <button type="button" class="open-submenu-btn">
              @@include('../../assets/svg/arrow.svg')
            </button>
          </li>
          <li>
            <a href="#">КОНТАКТЫ</a>
            <button type="button" class="open-submenu-btn">
              @@include('../../assets/svg/arrow.svg')
            </button>
          </li>
        </ul>
  
        <div class="header__menu__phone">
          @@include("../../assets/svg/phone-ellipse.svg")
          <a href="tel:+375447798877">+375 (44) 779–88–77</a>
        </div>

        <button class="btn btn--primary btn-header-menu-book-call open-modal-btn">
          ЗАКАЗАТЬ ЗВОНОК
        </button>
  
        <a href="#" class="hide-mobile svg-hover-cyan">
          @@include("../../assets/svg/cart.svg")
        </a>
      </nav>
    </div>
  </div>
</header>