<header class="header">
  <div class="bg-black">
    <div class="container">
      <div class="header__info">
        <button type="button" class="btn-burger">
          <span class="btn-burger__line"></span>
        </button>

        <a class="logo" href="#">
          <img src="../assets/logo.png" alt="logo">
        </a>
  
        <div>
          <span>
            @@include("../../assets/svg/time.svg")
          </span>
          <span>ПН-ПТ: 8.00–22.00 <br> СБ-ВС: 8.00–20.00</span>
        </div>
  
        <div>
          <span>
            @@include("../../assets/svg/localization.svg")
          </span>
          <span>ПАВИЛЬОН 55/16 АВТОРЫНОК «МАЛИНОВКА»</span>
        </div>
  
        <div>
          <span>
            @@include("../../assets/svg/phone.svg")
          </span>
          <a href="tel:+375447798877">+375 (44) 779–88–77</a>
        </div>

        <div class="social">
          <a href="#">
            @@include("../../assets/svg/telegram.svg")
          </a>

          <button type="button" class="show-mobile open-modal-btn">
            @@include("../../assets/svg/phone-ellipse.svg")
          </button>

          <a class="show-mobile" href="#">
            @@include("../../assets/svg/cart.svg")
          </a>
        </div>

        <button type="button" class="btn btn--primary btn-book-call open-modal-btn">
          ЗАКАЗАТЬ ЗВОНОК
        </button>
      </div>
    </div>
  </div>

  <div class="bg-dark-blue">
    <div class="container">
      <nav class="header__menu">
        <ul>
          <li><a href="#">КАТАЛОГ ТОВАРОВ</a></li>
          <li><a href="#">О КОМПАНИИ</a></li>
          <li><a href="#">ДОСТАВКА И ОПЛАТА</a></li>
          <li><a href="#">КОНТАКТЫ</a></li>
        </ul>
  
        <button class="btn btn--primary hide-tablet open-modal-btn">
          ЗАКАЗАТЬ ЗВОНОК
        </button>
  
        <a href="#" class="hide-mobile">
          @@include("../../assets/svg/cart.svg")
        </a>
      </nav>
    </div>
  </div>
</header>