@import '../../scss/mixins';

.header {
  width: 100%;
  top: -20vh;
  transition: all 0.444s;
  color: var(--white);
  z-index: 999;

  @include xl {
    svg {
      width: 32px;
      height: 32px;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr min-content;
    align-items: center;
    gap: var(--space-40);
    font-weight: var(--font-weight-800);
    line-height: var(--space-20);

    @include xl {
      padding: var(--space-10) 0;
      font-size: 8px;
      line-height: var(--space-10);
      grid-template-columns: 1fr 1fr 1fr 1fr min-content 1fr;
      gap: 12px;
    }

    @include md {
      display: flex;
      gap: initial;
      padding: 8px 0;
    }

    .logo {
      min-width: 217px;

      @include xl {
        min-width: 98px;
      }

      @include md {
        margin-right: auto;
        width: 68px;
      }
    }

    & > div:not(.social) {
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: var(--space-10);
      align-items: center;

      .location {
        display: grid;
      }

      .link-phone {
        white-space: nowrap;
      }

      @include xl {
        svg {
          width: 16px;
          height: 16px;
        }
      }

      @include md {
        display: none;
      }
    }

    &>.social {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      @include md {
        gap: 8px;
      }

      a,
      button {
        display: inline-block;
      }

      .show-mobile {
        display: none;

        @include md {
          display: inline-block;
        }
      }
    }

    .btn-book-call {
      display: none;

      @include xl {
        display: initial;
      }

      @include md {
        display: none;
      }
    }
  }

  &__menu {
    display: flex;
    place-items: center;
    padding: 27px 0 28px;
    gap: var(--space-40);

    @include xl {
      padding: 11px 0 var(--space-10);
      gap: 25px;
    }

    @include md {
      padding: 0;
      gap: 0;
    }

    a:hover {
      color: var(--orange);
    }

    ul {
      display: flex;
      gap: var(--space-40);
      font-weight: var(--font-weight-600);
      font-size: 18px;
      line-height: 22px;

      li.active > a {
        color: var(--orange);
      }

      @include xl {
        justify-content: space-between;
        width: 100%;
        gap: 0;
        font-size: 16px;
        line-height: var(--space-20);
      }

      @include md {
        display: none;
        font-weight: var(--font-weight-400);

        & > li {
          margin-bottom: var(--space-15);
        }
      }
    }

    ul li {
      ul {
        display: none;
        padding-left: var(--space-20);
        margin-top: var(--space-15);

        & > :last-child {
          margin-bottom: 0;
        }
      }

      &.show-child-list {
        ul {
          display: block;
        }

        .open-submenu-btn svg {
          transform: rotate(-90deg);
        }
      }
    }

    .open-submenu-btn {
      display: none;
      padding: 0px var(--space-10);
      margin-left: auto;
      transition: all .433s;

      svg {
        width: var(--space-10);
        height: 9px;
        transform: rotate(90deg);
      }

      @include md {
        display: initial;
      }
    }
  }

  .btn-header-menu-book-call {
    @include xl {
      display: none;
    }
  }

  .header__menu__phone {
    display: none;
    place-items: center;
    gap: 25px;
    margin-bottom: var(--space-20);
    font-weight: var(--font-weight-800);
  }

  .mobile-menu-head {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 9;
    background-color: var(--white);
    justify-content: space-between;
    align-items: center;
    padding: 8px var(--space-20) var(--space-10);
    color: var(--black);
    font-weight: var(--font-weight-700);
    line-height: var(--space-20);

    .closer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  &.show-menu,
  &.show-phone {
    .menu-wrapper {
      position: absolute;
      width: 100%;
      top: 1var(--space-20);
      z-index: 9;
    }
  }

  &.show-phone {

    .header__menu__phone,
    .mobile-menu-head,
    .btn-header-menu-book-call {
      display: flex;
    }

    .header__menu {
      flex-direction: column;
      padding: 25px 0 23px;
    }
  }

  &.show-menu {
    .mobile-menu-head {
      display: flex;
    }

    .header__menu {
      padding: 25px 0 23px;
      min-height: 357px;
      align-items: flex-start;
      overflow: hidden;
    }

    .header__menu__list {
      display: flex;
      flex-direction: column;
    }
  }
}