<div class="search-and-callback">
  <form class="bg-dark-blue search-and-callback__from">
    <div class="form-box">
      <h2 class="mobile-title">ПОИСК ПО АВТО</h2>
  
      @@include('../CustomSelect/index.html', {
        "name": "brand",
        "decore": true,
      })
  
      <button type="button" class="btn btn--primary search-and-callback__btn">
        НАЙТИ
      </button>
    </div>
  </form>

  <div class="bg-dark-blue search-and-callback__callback">
    <p>НЕ НАШЛИ СВОЙ АВТОМОБИЛЬ?</p>
    <button type="button" class="btn btn--primary btn-book-call open-modal-btn search-and-callback__btn">
      ЗАКАЗАТЬ ЗВОНОК
    </button>
  </div>
</div>