<div class="work-card">
  <div class="title-box">
    <h3 class="title">
      @@title
    </h3>
    <div class="icon">
      @@if (icon === '1') {
        @@include("../../assets/svg/number-1.svg")
      }
      @@if (icon === '2') {
        @@include("../../assets/svg/number-2.svg")
      }
      @@if (icon === '3') {
        @@include("../../assets/svg/number-3.svg")
      }
      @@if (icon === '4') {
        @@include("../../assets/svg/number-4.svg")
      }
      @@if (icon === '5') {
        @@include("../../assets/svg/number-5.svg")
      }
      @@if (icon === '6') {
        @@include("../../assets/svg/number-6.svg")
      }
    </div>
  </div>
  <div class="text">
    @@text
  </div>
</div>