@import '../../scss/mixins';

.work-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-30);
  gap: var(--space-10);
  border: 1px solid var(--cyan);
  border-radius: var(--space-10);
  color: var(--white);

  .title-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .title {
    align-self: center;
    max-width: 261px;
    height: 86px;
    @include clampLine(3);
  }

  .text {
    @include clampLine(7);
    height: 143px;
  }
}