<div class="sidebar">
  <img class="sidebar__image" src="../assets/brands-logo/1.jpg" alt="Sidebar Image">
  <ul class="sidebar__list">
    <li class="active"><a href="#">РЕМОНТНЫЕ ПОРОГИ</a></li>
    <li><a href="#">РЕМОНТНЫЕ АРКИ</a></li>
    <li><a href="#">УСИЛИТЕЛЬ ПОЛА</a></li>
    <li><a href="#">УСИЛИТЕЛЬ ПОРОГА</a></li>
    <li><a href="#">НАКЛАДКА НА ДВЕРЬ</a></li>
    <li><a href="#">ПОДДОМКРАТНИК</a></li>
    <li><a href="#">ЛИСТ МЕТАЛЛА ДЛЯ СВАРКИ (размер 120х50 см)</a></li>
  </ul>
</div>