<div class="bg-black">
  <div class="container">
    <footer class="footer">
      <a href="#">
        <img src="../assets/logo.png" alt="logo">
      </a>
    
      <div class="text">
        <p>ИП НОРЕЙКО Н.А.</p>
        <p>УНП 692262366</p>
        <p>СВИДЕТЕЛЬСТВО ВЫДАНО МОЛОДЕЧЕНСКИМ РАЙОННЫМ ИСПОЛНИТЕЛЬНЫМ КОМИТЕТОМ</p>
        <p>МИНСКАЯ ОБЛ., МОЛОДЕЧЕНСКИЙ РАЙОН, Г. МОЛОДЕЧНО, УЛ. ФРАНТИШКА СКОРИНЫ, 49А, КВ 27</p>
      </div>
    
      <div class="footer__list">
        <div class="title">КАТАЛОГ ТОВАРОВ</div>
        <ul>
          <li><a href="#">КУЗОВНЫЕ ПОРОГИ</a></li>
          <li><a href="#">ЗАДНИЕ АРКИ</a></li>
          <li><a href="#">УСИЛИТЕЛЬ ПОЛА</a></li>
          <li><a href="#">УСИЛИТЕЛЬ ПОРОГА</a></li>
          <li><a href="#">НАКЛАДКА НА ДВЕРЬ</a></li>
          <li><a href="#">ПОДДОМКРАТНИК</a></li>
          <li><a href="#">ЛИСТ МЕТАЛЛА ДЛЯ СВАРКИ</a></li>
        </ul>
      </div>
    
      <div class="footer__list">
        <div class="title">О КОМПАНИИ</div>
        <ul>
          <li><a href="#">ПРЕИМУЩЕСТВА</a></li>
          <li><a href="#">КАК МЫ РАБОТАЕМ</a></li>
          <li><a href="#">ОПЛАТА И ДОСТАВКА</a></li>
        </ul>
      </div>
    
      <div class="footer__list">
        <div class="title">АДРЕС САМОВЫВОЗА</div>
        <ul>
          <li><a href="#">ПАВИЛЬОН 55/16 АВТОРЫНОК «МАЛИНОВКА»</a></li>
        </ul>
      </div>
    
      <div class="footer__list">
        <div class="title">РЕЖИМ РАБОТЫ</div>
        <ul>
          <li><a href="#">ПН-ПТ: 8.00–22.00</a></li>
          <li><a href="#">СБ-ВС: 8.00–20.00</a></li>
        </ul>
      </div>
    
      <div class="footer__list">
        <div class="title">КОНТАКТЫ</div>
        <ul>
          <li><a href="#">+375 (44) 779–88–77</a></li>
        </ul>
      </div>
    
      <div class="copyright">
        <p>© 2023 TOPKUZOV. Все права защищены.</p>
        <a href="#">Сайт разработан ВТОП3</a>
      </div>
    </footer>
  </div>
</div>