<div class="bg-black">
  <div class="container">
    <footer class="footer">
      <a href="#" class="logo">
        <img src="./assets/logo.png" alt="logo">
      </a>
    
      <div class="footer__info">
        <p>ИП НОРЕЙКО Н.А.</p>

        <p>УНП 692262366</p>

        <p>СВИДЕТЕЛЬСТВО ВЫДАНО МОЛОДЕЧЕНСКИМ РАЙОННЫМ ИСПОЛНИТЕЛЬНЫМ КОМИТЕТОМ</p>

        <p>МИНСКАЯ ОБЛ., МОЛОДЕЧЕНСКИЙ РАЙОН, Г. МОЛОДЕЧНО, УЛ. ФРАНТИШКА СКОРИНЫ, 49А, КВ 27</p>
      </div>
      
      <div class="footer__callback">
        <button class="btn btn--primary  open-modal-btn">
          ЗАКАЗАТЬ ЗВОНОК
        </button>
      </div>

      <div class="footer__list footer__list--catalog">
        <h4 class="title">КАТАЛОГ ТОВАРОВ</h4>
        <ul>
          <li><a href="#">КУЗОВНЫЕ ПОРОГИ</a></li>
          <li><a href="#">ЗАДНИЕ АРКИ</a></li>
          <li><a href="#">УСИЛИТЕЛЬ ПОЛА</a></li>
          <li><a href="#">УСИЛИТЕЛЬ ПОРОГА</a></li>
          <li><a href="#">НАКЛАДКА НА ДВЕРЬ</a></li>
          <li><a href="#">ПОДДОМКРАТНИК</a></li>
          <li><a href="#">ЛИСТ МЕТАЛЛА ДЛЯ СВАРКИ</a></li>
        </ul>
      </div>
    
      <div class="footer__list footer__list--about">
        <h4 class="title">О КОМПАНИИ</h4>
        <ul>
          <li><a href="#">ПРЕИМУЩЕСТВА</a></li>
          <li><a href="#">КАК МЫ РАБОТАЕМ</a></li>
          <li><a href="#">ОПЛАТА И ДОСТАВКА</a></li>
        </ul>
      </div>
    
      <div class="footer__contacts">
        <div class="footer__list">
          <h4 class="title">АДРЕС САМОВЫВОЗА</h4>
          <ul>
            <li><a href="#">ПАВИЛЬОН 55/16 АВТОРЫНОК «МАЛИНОВКА»</a></li>
          </ul>
        </div>
      
        <div class="footer__list">
          <h4 class="title">РЕЖИМ РАБОТЫ</h4>
          <ul>
            <li><a href="#">ПН-ПТ: 8.00–22.00</a></li>
            <li><a href="#">СБ-ВС: 8.00–20.00</a></li>
          </ul>
        </div>
      
        <div class="footer__list">
          <h4 class="title">КОНТАКТЫ</h4>
          <ul>
            <li><a href="#">+375 (44) 779–88–77</a></li>
          </ul>
        </div>
      </div>
    
      <div class="copyright copyright--text">© 2023 TOPKUZOV. Все права защищены.</div>
      
      <div class="copyright copyright--link"><a href="#">Сайт разработан ВТОП3</a></div>
    </footer>
  </div>
</div>