<form class="form-callback">
  <input type="text" id="name" name="name" placeholder="Имя *" required>
  
  <input type="tel" id="phone" name="phone" placeholder="Телефон *" required>
  
  <textarea id="comment" name="comment" placeholder="Комментарий *" required></textarea>
  
  <label class="checkbox-container checkbox-container--redius-5 checkbox-privat-policy">
    <input class="checkbox" type="checkbox">
    <span class="checkmark checkmark--orange"></span>
    <span>Я согласен(-на) на обработку персональных данных</span>
  </label>
  
  <button type="submit" class="btn btn--primary">Заказать звонок</button>
</form>