.form-callback {
  display: flex;
  flex-direction: column;
  gap: 20px;

  label {
    margin-top: 10px;
    font-weight: bold;
  }

  input, textarea {
    margin-top: 5px;
  }

  textarea {
    height: 161px;
    margin-bottom: 10px;
  }

  button[type=submit] {
    max-width: fit-content;
    margin: 0 auto;
  }

  .checkbox-privat-policy {
    margin-bottom: 12px;
    font-weight: var(--font-weight-300);
    font-size: 14px;
    line-height: 170%;
  }
}