.form-callback {
  $gray: #949494;

  display: flex;
  flex-direction: column;
  gap: 20px;

  label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  input, textarea {
    margin-top: 5px;
    padding: 15px 32px 16px 34px;
    border: 1px solid $gray;
    border-radius: 5px;

    &::placeholder {
      font-weight: 400;
      font-size: 18px;
      line-height: 170%;
      color: $gray;
    }
  }

  textarea {
    height: 161px;
    margin-bottom: 10px;
  }

  button[type=submit] {
    max-width: fit-content;
    margin: 0 auto;
  }

  .checkbox-privat-policy {
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 170%;
  }
}