<div id="brand-logo-slider">
  <div class="brand-logo-slide">
    @@include('../BrandCard/index.html', {
      "url": "../../assets/brands-logo/1.jpg",
      "name": "Acura"
    })
  </div>
  <div class="brand-logo-slide">
    @@include('../BrandCard/index.html', {
      "url": "../../assets/brands-logo/2.jpg",
      "name": "Alfa Romeo"
    })
  </div>
  <div class="brand-logo-slide">
    @@include('../BrandCard/index.html', {
      "url": "../../assets/brands-logo/3.jpg",
      "name": "Audi"
    })
  </div>
  <div class="brand-logo-slide">
    @@include('../BrandCard/index.html', {
      "url": "../../assets/brands-logo/4.jpg",
      "name": "BMW"
    })
  </div>
  <div class="brand-logo-slide">
    @@include('../BrandCard/index.html', {
      "url": "../../assets/brands-logo/5.jpg",
      "name": "Buick"
    })
  </div>
  <div class="brand-logo-slide">
    @@include('../BrandCard/index.html', {
      "url": "../../assets/brands-logo/6.jpg",
      "name": "Chery"
    })
  </div>
  <div class="brand-logo-slide">
    @@include('../BrandCard/index.html', {
      "url": "../../assets/brands-logo/7.jpg",
      "name": "Chevrolet"
    })
  </div>
  <div class="brand-logo-slide">
    @@include('../BrandCard/index.html', {
      "url": "../../assets/brands-logo/8.jpg",
      "name": "Chrysler"
    })
  </div>
  <div class="brand-logo-slide">
    @@include('../BrandCard/index.html', {
      "url": "../../assets/brands-logo/9.jpg",
      "name": "Citroen"
    })
  </div>
  <div class="brand-logo-slide">
    @@include('../BrandCard/index.html', {
      "url": "../../assets/brands-logo/10.jpg",
      "name": "Dacia"
    })
  </div>
  <div class="brand-logo-slide">
    @@include('../BrandCard/index.html', {
      "url": "../../assets/brands-logo/11.jpg",
      "name": "Daewoo"
    })
  </div>
  <div class="brand-logo-slide">
    @@include('../BrandCard/index.html', {
      "url": "../../assets/brands-logo/12.jpg",
      "name": "Dodge"
    })
  </div>
</div>