<div class="product-item">
  <div class="product-item__info">
    <div class="data">
      @@include('../ProductItemParamList/index.html')
      @@include('../AddToCartForm/index.html')
    </div>

    <div class="image">
      <img src="./assets/mok-product-lg.jpg" alt="product image">
    </div>
  </div>

  <div class="product-item__description">
    <h3>Описание</h3>

    <div class="description-text">
      <p>
        Описание товара кузовной порог Описание товара кузовной порог Описание товара кузовной порог
        Описание товара кузовной порог Описание товара кузовной порог Описание товара кузовной порог
        Описание товара кузовной порог Описание товара кузовной порог Описание товара кузовной порог
        Описание товара кузовной порог Описание товара кузовной порог Описание товара кузовной порог
        Описание товара кузовной порог
      </p>
    </div>

    <ul class="description-list">
      <li>Оцинкованная сталь</li>
      <li>Толщина 1.2 мм</li>
      <li>Повышенная прочность</li>
      <li>Срок службы 10 лет</li>
    </ul>
  </div>
</div>