<div class="product-item">
  <div class="product-item__info">
    @@include('../ProductItemParamList/index.html')
    @@include('../AddToCartForm/index.html')
  </div>

  <div class="product-item__description">
    <h3><b>Описание</b></h3>

    <div class="description">
      Описание товара кузовной порог Описание товара кузовной порог Описание товара кузовной порог Описание товара кузовной порог Описание товара кузовной порог Описание товара кузовной порог Описание товара кузовной порог Описание товара кузовной порог Описание товара кузовной порог Описание товара кузовной порог Описание товара кузовной порог Описание товара кузовной порог Описание товара кузовной порог
    </div>

    <ul class="parameters-list">
      <li>Оцинкованная сталь</li>
      <li>Толщина 1.2 мм</li>
      <li>Повышенная прочность</li>
      <li>Срок службы 10 лет</li>
    </ul>
  </div>
</div>