@import '../../scss/mixins';

.product-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  @include xl {
    font-size: 16px;
    line-height: 20px;
  }
  
  &__info {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 370px);
    column-gap: var(--space-30);
    margin-bottom: var(--space-60);

    @include xl {
      grid-template-columns: 1fr;
      row-gap: var(--space-20);
      margin-bottom: var(--space-50);
    }

    @include md {
      margin-bottom: var(--space-30);
    }

    .image {
      max-height: 374px;
      border-radius: var(--radius-5);
      overflow: hidden;

      @include xl {
        grid-row: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__description {
    .description-title {
      margin-bottom: var(--space-30);
      @include xl {
        margin-bottom: var(--space-20);
      }
      @include md {
        margin-bottom: var(--space-10);
      }
    }
    .description-text {
      margin-bottom: var(--space-20);
      @include xl {
        margin-bottom: var(--space-10);
      }
    }
    .description-list {
      column-count: 2;

      @include md {
        column-count: 1;
      }

      li {
        position: relative;
        margin-bottom: 5px;
        padding-left : var(--space-20);
        &::before {
          content: "•";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: calc(var(--space-10) / 2);
        }
      }
    }
  }
}