@import '../../scss/mixins';

.breadcrumb {
  margin: 0;
  margin: var(--space-20) 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  @include xl {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
  }

  @include md {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 21px;
    margin-top: 12px;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;

    li {
      &:not(:last-child) {
        margin-right: 0.5rem;
        
        &::after {
          content: "—";
          margin-left: 0.5rem;
        }
      }
      
      a {
        color: var(--black);
        text-decoration: none;
        
        &:hover {
          color: var(--orange);
        }
      }
    }
  }
}
