@import '../../scss/mixins';

.car-body-parts {
  display: grid;
  grid-template-columns: minmax(auto, 770px) minmax(auto, 370px);
  gap: var(--space-30);

  @include xl {
    grid-template-columns: minmax(auto, 475px) minmax(auto, 222.44px);
  }

  @include md {
    grid-template-columns: 1fr;
    grid: var(--space-10);
  }

  &__card {
    position: relative;
    overflow: hidden;
    border-radius: 13px;
    color: var(--white);
    height: calc(var(--indexSize) * 25);
    max-height: 499px;
    background-color: var(--deep-blue);

    &.active {
      background-color: var(--dark-blue);
    }

    @include xl {
      max-height: 310px;
    }

    @include md {
      max-height: 182.74px;
    }

    .title {
      font-size: 38px;
      line-height: 46px;
      margin-bottom: 26px;

      @include xl {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 0;
      }

      @include md {
        font-size: 22px;
        line-height: 27px;
      }

    }

    &--front {
      padding: 35px 53px 48px;

      .car-body {
        position: absolute;
        left: -12%;
      }

      @include xl {
        padding: 0;
        padding-top: var(--space-20);
        padding-left: 14px;

        .car-body {
          top: 0;
        }

        svg {
          max-width: 493.51px;
        }
      }

      @include md {
        padding-top: var(--space-10);
        .car-body {
          top: -80px;
          right: 8%;
          left: initial;
          svg {
            max-width: 290.91px;
          }
        }
      }
    }

    &--back {
      padding: 35px 25px var(--space-40);

      @include xl {
        padding: 0;
        padding-top: var(--space-20);
        padding-left: 14px;

        .car-body {
          position: absolute;
          top: 5%;

          svg {
            max-width: 624.51px;
          }
        }
      }

      @include md {
        padding-top: var(--space-10);
        .car-body {
          right: -95px;
          top: -65px;

          svg {
            max-width: 341.7px;
          }
        }
      }
    }
  }
}