<div class="slider-workroom-wrapper">
  <div id="workroom">
    <div class="workroom-slide">
      <img src="../assets/box-photo-1.jpg" alt="photo work room">
    </div>
    <div class="workroom-slide">
      <img src="../assets/box-photo-2.jpg" alt="photo work room">
    </div>
    <div class="workroom-slide">
      <img src="../assets/box-photo-3.jpg" alt="photo work room">
    </div>
    <div class="workroom-slide">
      <img src="../assets/box-photo-1.jpg" alt="photo work room">
    </div>
    <div class="workroom-slide">
      <img src="../assets/box-photo-2.jpg" alt="photo work room">
    </div>
    <div class="workroom-slide">
      <img src="../assets/box-photo-3.jpg" alt="photo work room">
    </div>
  </div>
  
  <!-- Кнопки для управления слайдером -->
  <button class="workroom-arrow workroom-arrow--prev">
    @@include('../../assets/svg/arrow.svg')
  </button>
  <button class="workroom-arrow workroom-arrow--next">
    @@include('../../assets/svg/arrow.svg')
  </button>
</div>