<div class="slider-wrapper">
  <div id="workroom" class="slider-list">
    <div class="slide">
      <img src="./assets/box-photo-1.jpg" alt="photo work room">
    </div>
    <div class="slide">
      <img src="./assets/box-photo-2.jpg" alt="photo work room">
    </div>
    <div class="slide">
      <img src="./assets/box-photo-3.jpg" alt="photo work room">
    </div>
    <div class="slide">
      <img src="./assets/box-photo-1.jpg" alt="photo work room">
    </div>
    <div class="slide">
      <img src="./assets/box-photo-2.jpg" alt="photo work room">
    </div>
    <div class="slide">
      <img src="./assets/box-photo-3.jpg" alt="photo work room">
    </div>
  </div>
  
  <!-- Кнопки для управления слайдером -->
  <button class="custom-slide-arrow custom-slide-arrow--prev">
    @@include('../../assets/svg/arrow.svg')
  </button>
  <button class="custom-slide-arrow custom-slide-arrow--next">
    @@include('../../assets/svg/arrow.svg')
  </button>
</div>