:root {
  --indexSize: calc(1vw + 1vh);

  // RESPONSE SIZE TRIGER (desktop first)
  --screen-xl: 1200px;
  --screen-md: 768px;

  // COLORS
  --white: #FFFFFF;
  --black: #000000;
  --red: #C90000;
  --blue: #2C3A65;
  --dark-blue: #1C2541;
  --deep-blue: #121733;
  --cyan: #37FFE2;
  --gray: #D9D9D9;
  --gary-100: #E7E7E7;
  --gary-200: #DFDFDF;
  --orange: #F89E02;
  --bg-gold-liner: linear-gradient(256.07deg, #FFA60C 20.04%, rgba(255, 178, 44, 0.63) 96.91%);

  // FONTS
  --font-size: 16px;
  --line-height: 130%;

  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-700: 800;

  // BORDERS
  --radius-5: 5px;
  --radius-10: 10px;

  // EFFECTS
  --box-shadow-outset: 0px 4px 50px rgba(0, 0, 0, 0.1);
  --box-shadow-inset: inset 2px 4px 4px #FFFFFF, inset -4px -6px 4px rgba(113, 113, 113, 0.25);
  --backdrop-filter: blur(10px);
  --filter-drop-shadow: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.1));

  // SPACES 
  --space-10: 10px;
  --space-15: 15px;
  --space-20: 20px;
  --space-30: 30px;
  --space-40: 40px;
  --space-50: 50px;
  --space-60: 60px;
  --space-70: 70px;
  --space-90: 90px;
  --space-100: 100px;
  --space-140: 140px;
  --space-160: 160px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight-400);
  color: var(--black);
  display: grid;
  grid-template-columns: minmax(100%, 1fr);
}

h1,
.h1 {
  font-weight: var(--font-weight-700);
  font-size: 36px;
  line-height: 44px;

  @include xl {
    font-size: 22px;
    line-height: 27px;
  }

  @include md {
    font-size: 20px;
    line-height: 24px;
  }
}

h2,
.h2 {
  font-weight: var(--font-weight-700);
  font-size: 32px;
  line-height: 39px;

  @include xl {
    font-size: 22px;
    line-height: 27px;
  }

  @include md {
    font-size: 20px;
    line-height: 24px;
  }
}

h3,
.h3 {
  font-weight: var(--font-weight-700);
  font-size: 24px;
  line-height: 29px;

  @include xl {
    font-size: 22px;
    line-height: 27px;
  }

  @include md {
    font-size: 16px;
    line-height: 20px;
  }
}

h4,
.h4 {
  font-weight: var(--font-weight-600);
  font-size: 20px;
  line-height: 24px;

  @include md {
    font-size: 14px;
    line-height: 17px;
  }
}

p {
  font-weight: var(--font-weight-400);
  font-size: 20px;
  line-height: 24px;
  margin-bottom: var(--space-20);

  @include md {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: var(--space-10);
  }
}

b {
  font-weight: var(--font-weight-700);
}

hr {
  height: 1px;
  background-color: var(--gary-200);
}

button {
  cursor: pointer;
}

input,
textarea {
  @mixin inputSize {
    font-weight: var(--font-weight-400);
    font-size: 18px;
    line-height: 170%;

    @include md {
      font-size: 14px;
    }
  }

  padding: 15px 32px 16px 34px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  @include inputSize;

  @include md {
    padding: 7px 11px;
  }

  &::placeholder {
    @include inputSize;
    color: var(--gray);
  }
}