.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;

  &--border-gray .checkmark {
    border: solid var(--gray);
  }
  
  &--border-white .checkmark {
    border: solid var(--white);
  }

  &--redius-5 .checkmark {
    border-radius: var(--radius-5);
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
    border: 1px solid #979898;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 8px;
      top: 4px;
      width: 6px;
      height: 12px;
      border: solid var(--black);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    &--orange::after {
      border-color: var(--orange);
    }
    &--black::after {
      border-color: var(--black);
    }
  }

  & input.checkbox {
    margin-top: 0;
    padding: 0;
    border: none;
    border-radius: 0;
  }

  input {
    position: absolute;
    opacity: 0;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }
}