.description {
  .description__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: var(--space-30);

    @include xl {
      font-size: 22px;
      line-height: 27px;
      margin-bottom: var(--space-20);
    }

    @include md {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: var(--space-10);
    }
  }

  .description__subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: var(--space-20);

    @include xl {
      font-size: 20px;
      line-height: 24px;
    }

    @include md {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: var(--space-10);
    }
  }

  .description__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: var(--space-20);

    p {
      margin-bottom: 1rem;
    }

    @include xl {
      margin-bottom: var(--space-10);
    }

    @include md {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .description__list {
    &.column-count-2 {
      column-count: 2;

      @include md {
        column-count: 1;
      }
    }

    li {
      position: relative;
      margin-bottom: 5px;
      padding-left: var(--space-20);

      &::before {
        content: "•";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: calc(var(--space-10) / 2);
      }
    }
  }
}