.description {
  .description__title {
    margin-bottom: var(--space-30);

    @include xl {
      margin-bottom: var(--space-20);
    }

    @include md {
      margin-bottom: var(--space-10);
    }
  }

  .description__subtitle {
    margin-bottom: var(--space-20);

    @include md {
      margin-bottom: var(--space-10);
    }
  }

  .description__text {
    margin-bottom: var(--space-20);

    @include xl {
      margin-bottom: var(--space-10);
    }
  }

  .description__list {
    &.column-count-2 {
      column-count: 2;

      @include md {
        column-count: 1;
      }
    }

    li {
      position: relative;
      margin-bottom: 5px;
      padding-left: var(--space-20);

      &::before {
        content: "•";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: calc(var(--space-10) / 2);
      }
    }
  }
}