.container {
  width: 100%;
  max-width: var(--screen-xl);
  margin: 0 auto;
  padding: 0 20px;

  @include xl {
    max-width: var(--screen-md);
  }
}

.bg-black {
  background-color: var(--black);
}
.bg-dark-blue {
  background-color: var(--dark-blue);
}