.container {
  width: 100%;
  max-width: var(--screen-xl);
  margin: 0 auto;
  padding: 0 20px;

  @include xl {
    max-width: var(--screen-md);
  }
}

.hide-mobile {
  @include md {
    display: none;
  }
}

.hide-tablet {
  @include xl {
    display: none;
  }
}

.btn-burger {
  @include burger;
  display: none;

  @include md {
    display: block;
    margin-right: 7px;
  }
}

.bg-black {
  background-color: var(--black);
}
.bg-white {
  background-color: var(--white);
}
.bg-dark-blue {
  background-color: var(--dark-blue);
}