.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: 1080px) {
    max-width: 892px;
    padding: 0 20px;
  }
}

.bg-black {
  background-color: var(--black);
}
.bg-dark-blue {
  background-color: var(--dark-blue);
}