
// DEFAULT SETTINGS

.slider-wrapper {
  $arrowSize: var(--space-50);
  position: relative;
  padding: 0 $arrowSize;
  
  .slider-list {
    margin: 0 -15px;

    @include xl {
      margin: 0 -var(--space-10);
    }

    .slide {
      padding: 0 15px;

      @include xl {
        padding: 0 var(--space-10);
      }

      img {
        max-width: 370px;
        max-height: 370px;
        width: 100%;
        height: 100%;
        margin: 0 auto;

        @include xl {
          max-width: 300px;
          max-height: 300px;
        }
        @include md {
          max-width: 220px;
          max-height: 220px;
        }
      }
    }
  }
}

.custom-slide-arrow {
  $arrowSize: var(--space-50);
  position: absolute;
  display: inline-flex;
  place-items: center;
  place-content: center;
  width: $arrowSize;
  height: $arrowSize;
  padding: 6px var(--space-10);
  top: 50%;
  transform: translateY(-50%);

  &--prev {
    transform: rotate(180deg) translateY(50%);
    left: 0;
  }
  &--next {
    right: 0;
  }
}