<div class="accordion">
  @@loop('./AccordionItem/index.html', [
    {
      "title": "Из какого материала изготавливаются металлические детали?",
      "text": "Изготавливаются все металические детали (в частности кузовные пороги и задние арки) только из высококачественной оцинкованной стали. Мы не используем чёрную сталь, так как зачастую процесс её коррозии начинается при хранении на складе."
    },
    {
      "title": "Какая толщина оцинкованной стали у металлических деталей?",
      "text": "Изготавливаются все металические детали (в частности кузовные пороги и задние арки) только из высококачественной оцинкованной стали. Мы не используем чёрную сталь, так как зачастую процесс её коррозии начинается при хранении на складе."
    },
    {
      "title": "Как «варить» «оцинковку»?",
      "text": "Изготавливаются все металические детали (в частности кузовные пороги и задние арки) только из высококачественной оцинкованной стали. Мы не используем чёрную сталь, так как зачастую процесс её коррозии начинается при хранении на складе."
    },
  ])
</div>
